*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	background: linear-gradient(rgba(0,0,0,0.1),#009688),url("rankala3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.header{
	margin-top: 10%;
}

.header h1{
	color: #fff;
	font-family: italic;
	font-size: 52px;
	margin-bottom: center;
	text-align: center;
}
.about-us{
	display: flex;
	text-align: center;
	width: auto;
	justify-content: center;
}

.about-us .member{
	background:linear-gradient(rgba(0,0,0,0.1),#009688) ;
	margin: 5px;
	margin-bottom: 50px;
	width: 300px;
	padding: 20px;
	line-height: 20px;
	color: #fff;
	position: relative;
}

.about-us .member h2{
	color: #ffcc00;
	font-size: 26px;
	margin-top: 50px;
}

.about-us .member p{
	color: #fff;
	font-size: 18px;
	text-align: center;
}

.about-us .member .member-img{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	position: absolute;
	top: -50px;
	left: 90px;
}
.about-us .member .member-img img{
	width: 100px;
	height: 100px;
	border-radius: 100%;
}




